.App {
    text-align: center;
    width: 90%;
    margin: 2.5% 0 2.5% 5%;
    box-shadow: darkgrey .5em .5em .5em;
    border-radius: 1vmin;
    padding: 1vmin 0 2vmin 0;
    background-color: #66cccc;
    background-image: linear-gradient(to right, #9bccc9, #66cccc);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    text-align: center;
    padding-top: 1%;
    font-size: 8vmin;
    color: darkblue;
    background-image: linear-gradient(to right, #9bccc9, #66cccc);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'headerFont';
    src: local('headerFont'), url("./fonts/Ghoust Outline.otf") format('opentype');
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:hover {
    background-color: yellow;
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: darkblue;
    color: white;
    text-transform: capitalize;
}

.App-loading {
    margin-top: 15%;
    border-radius: 50%;
    box-shadow: .5em .5em .5em grey;
    border: 1px dotted grey;
    width: 40%;
    height: 40%;
}

button {
    margin: .5vmin .5vmin;
    background: none;
    border: .2vmin solid darkblue;
    color: darkblue;
    border-radius: 1em;
    font-weight: bold;
    font-size: 2vmin;
    padding: .3em 1em;
}

button:hover {
    border: 2px solid yellow;
    cursor: pointer;
    animation: shake .75s;
    animation-iteration-count: .5;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


a:hover {
    cursor: pointer;
}

a:visited {
    color: darkblue;
}

.Station-pin {
    border-radius: 50%;
    border: 1px dotted grey;
    opacity: .8;
    cursor: pointer;
    transition: width .75s, height .75s, transform .75s;
}

.Station-pin:hover {
    border: 3px solid yellow;
    width: 29px;
    height: 29px;
    opacity: 1;
    transform: rotate(-360deg);
}
