.App {
    text-align: center;
    width: 90%;
    margin: 2.5% 0 2.5% 5%;
    box-shadow: grey .5em .5em .5em;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background: #66cccc;
    text-align: center;
    padding-top: 1%;
    font-size: 8vmin;
    color: darkblue;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'headerFont';
    src: local('headerFont'), url("./fonts/Ghoust Outline.otf") format('opentype');
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: yellow;
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: darkblue;
    color: white;
    text-transform: capitalize;
}

button {
    margin: .5em .5em;
}

.App-loading {
    margin-top: 10em;
    border-radius: 50%;
    box-shadow: .5em .5em .5em grey;
    border: 1px dotted grey;
}

.App-button {
    background: none;
    border: 2px solid darkblue;
    color: darkblue;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: .3em 1em;
}

button:hover {
    border: 2px solid yellow;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: darkblue;
}

.Station-pin {
    border-radius: 50%;
    box-shadow: .2em .2em .2em grey;
    border: 1px dotted grey;
    opacity: .8;
    cursor: pointer;
}

.Station-pin:hover {
    border: 3px solid yellow;
    box-shadow: .4em .4em .4em grey;
    width: 40px;
    height: 40px;
    opacity: 1;
}
